.genlab-modal-content {
  padding: 20px;
  height: 100%;
  overflow: auto;
}

.genlab-name-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  background: #111;
  color: #fff;
}

.genlab-modal-actions {
  text-align: right;
  margin-top: 10px;
}

.genlab-modal-actions button {
  background: #64B5F6;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
